<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @address.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @address.lon %>
</p>

<p>
  <strong>Place:</strong>
  <%= @address.place %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @address.zip_code %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Complement:</strong>
  <%= @address.complement %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @address.bairro %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
