<!DOCTYPE html>
<html>
<head>
  <title>ChallengeMywork</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?result_type=street_address&key='+Rails.application.credentials.google_maps_api_key+'&amp;' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= yield(:head_tags) %>

</head>

<body>
  <%= render partial: 'layouts/nav' %>
  <main role="main" id="all">
    <div class="container">
      <%= yield %>
    </div>
  </main>
</body>
</html>
