<!DOCTYPE html>
<html>
  <head>
    <title>ChallengeMywork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= yield(:head_tags) %>

  </head>

  <%#= content_tag :body, data: { action: action_name, controller: controller_name } do %>

    <body>
    <%= render partial: 'layouts/nav' %>
      <main role="main" id="all">
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </body>
  <%# end %>
</html>
